.main-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  height: 110px;
  width: 100%;
  background-color: #DCDCDC;
  border-radius: 7px;
}
